---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Bienvenidos a IKIGAI</h1>
			<p class="max-w-3xl mx-auto mt-4 text-lg text-zinc-700 leading-relaxed">
				Somos una pareja apasionada por los viajes, la aventura y el descubrimiento de nuevas culturas. Decidimos llamar a este espacio <strong>IKIGAI</strong> porque representa algo muy especial para nosotros: una filosofía japonesa que significa <em>“la razón por la que te levantas cada mañana”</em>. 
				<br /><br />
				Para nosotros, esa razón es simple pero poderosa: explorar el mundo, perdernos por sus rincones, conocer sus historias y dejarnos inspirar por su gente. IKIGAI es nuestro pequeño refugio digital donde compartimos nuestras experiencias, aprendizajes y momentos vividos en cada lugar que visitamos.
				<br /><br />
				Esperamos que este blog inspire a otros a seguir su propio camino, a encontrar su propósito… o al menos a hacer la maleta y lanzarse a vivir nuevas aventuras.
			</p>
			
		</main>
		<Footer />
	</body>
</html>
