---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="sticky top-5 z-50 flex justify-center bg-zinc-300 py-2 rounded-full mt-5 max-w-sm sm:max-w-4xl mx-auto backdrop-blur-sm bg-opacity-90">
  <nav class="grid grid-cols-2 sm:grid-cols-3 items-center w-full max-w-2xs sm:max-w-2xl">
    <a href="/" class="justify-self-start flex -ml-5 items-center gap-2">
      <img
        src="/ikigai2.png"
        alt="ikigai-logo"
        class="w-5 h-auto flex-shrink-0"
      />
      <h2 class="font-semibold pt-2 text-zinc-900">
        {SITE_TITLE}
      </h2>
    </a>
    <div class="flex justify-start rounded-full gap-2">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
